<div class="card  my-3 mx-3 shadow" style="max-width: 28rem;">
  <div class="card-body">
    <a href="https://api-courses.cybrary.it/api/certificate/C-db545925f-53bf3c50e/view">
      <h3 class="card-title"><b>Kali Linux Fundamentals</b></h3>
    </a>
    <h5><i>Cybrary.it</i></h5>
    <p class="card-text">Completed training course provided by Cybrary inKali Linux Fundamentals.</p>
  </div>
</div>

<div class="card  my-3 mx-3 shadow" style="max-width: 28rem;">
  <div class="card-body">
    <a href="https://api-courses.cybrary.it/api/certificate/CC-46df393e-11ab-404b-b3fb-d088e6321fed/view">
      <h3 class="card-title"><b>Cryptography Fundamentals</b></h3>
    </a>
    <h5><i>Cybrary.it</i></h5>
    <p class="card-text">Completed training course provided by Cybrary.</p>
  </div>
</div>

<div class="card  my-3 mx-3 shadow" style="max-width: 28rem;">
  <div class="card-body">
    <a href="https://drive.google.com/file/d/19DRzIdMXDqTsjxT6xyogxOUFdfbjg9y2/view?usp=sharing">
      <h3 class="card-title"><b>Level-1 Certification of Ethical Hacking</b></h3>
    </a>
    <h5><i>Texial Cyber Security</i></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div>

<div class="card  my-3 mx-3 shadow" style="max-width: 28rem;">
  <div class="card-body">
    <a
      href="https://drive.google.com/file/d/13mkLM7OXA-v4FoDnmuQKR1jZDP2swMKW/view?usp=sharing, https://drive.google.com/file/d/142DiqWGWzK7pjDGFk_0xO6qzeSyQ1RmC/view?usp=sharing, https://drive.google.com/file/d/1DH_F8kD6Wab3k170GtkxUxlQ8uNiY_Wf/view?usp=sharing, https://drive.google.com/file/d/1QEsYhSdVy5nOOntyhdl_o61dOZdHo1Rb/view?usp=sharing">
      <h3 class="card-title"><b>CCNA – Routing and Switching</b></h3>
    </a>
    <h5><i>Karnataka German Technical Training Institute (KGTTI)</i></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div>