<div class="row container-sm mx-0 my-3 py-2 shadow rounded">
  <div class="col-sm-4 my-4 shadow rounded" id="profile" style="background-color: orange;">
    <div class="text-center px-4 py-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg" class="rounded-circle"
        alt="Manager avatar">
    </div>

    <div class="container text-center">
      <h4 class="mb-1">
        <strong>
          <label>Umesh S</label>
        </strong>
      </h4>

      <div class="container mb-4">
        <i>Umeshfarrow@gmail.com </i><br>
        <b>Software engineer</b><br>
        <hr />
        <div class="container mb-3">
          <div class="row ">
            <div class="col text-right">
              <strong>
                Experience: <br>
                Date of Birth:<br>
                Gender: <br>
                Location: <br>
              </strong>
            </div>
            <div class="col text-left">
              <i>
                2.4 Years <br>
                07-Mar-1995<br>
                Male <br>
                Bangalore <br>
              </i>
            </div>
          </div>
          <hr>
          <div class="container text-left">
            <p>
              To pursue a challenging career and to be a part of progressive organization, that gives scope to
              enhance my knowledge and skills, where in my abilities can contribute to both corporate and
              personal growth.
            </p>
          </div>

        </div>
      </div>

    </div>


  </div>

  <div class="col-sm-8 my-4">
    <div class="container my-5 mx-5">
      <strong>
        <h1>Hello World!</h1>
      </strong>
      <div class="mr-5 mt-5 text-right">
        <button type="button" class="btn btn-outline-info" routerLinkActive="active" routerLink="journey">My
          Journey</button>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>