<div class="container my-3 py-2" style="background-color: orange;">
  <div class="col-lg-4 my-4 shadow rounded" id="profile">
    <div class="text-center px-4 py-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg" class="rounded-circle"
        alt="Manager avatar">
    </div>

    <div class="container text-center">
      <h4 class="mb-1">
        <strong>
          <label>Umesh S</label>
        </strong>
      </h4>

      <div class="container mb-4">
        <i>Umeshfarrow@gmail.com </i><br>
        <b>gymName </b><br>
        <hr />
        <div class="container mb-3">
          <strong>
            Experience <br>
            EmailId <br>
            Location <br>
            Dob<br>
            Gender <br>
          </strong>
        </div>

        <hr>
        <div class="container">
          <p>
            About
          </p>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="text-center font-weight-bold" style="font-family: Droid Sans;">
  &copy;<i>Umeshfarrow</i>
</div>
<router-outlet></router-outlet>